@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content-box-component {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

body {
    min-width: 1160px;
    font-family: "Open Sans", "Tahoma", "Geneva", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0,0,0,0);
    overflow: hidden;
}

.main-header {
    position: relative;
    display: flex;
    max-width: 1160px;
    color: #000000;
    background-color: #f7e296;
    padding: 45px 65px;
    margin: 40px auto 0;
}

.main-header .device-logo {
    position: absolute;
    top: -20px;
    left: 65px;
    display: block;
    font-size: 36px;
}

.device-logo .cls-1 {
    font-family: "Gilroy", "Arial Black", sans-serif;
    font-size: 26px;
    font-weight: 800;
}

/* Общие стили лого */
.device-logo:not([href]):hover,
.device-logo:not([href]):focus,
.device-logo:not([href]):active{
    opacity: 1;
}

.device-logo:hover,
.device-logo:focus{
    opacity: 0.6;
}

.device-logo:active {
    opacity: 0.3;
}
